{{betterup-modal/background onClick=(action modal.close)}}

{{#betterup-modal/container close=(action modal.close)}}

  {{#paper-form onSubmit=(action 'submitPostForm') as |form|}}
    <div class="layout-row">
      {{form.input label="Title" value=postTitle onChange=(action (mut postTitle)) required=true data-test-post-title-input=true}}
    </div>
    <div class="layout-row">
      {{paper-input
        textarea=true
        block=true
        label="Content"
        passThru=(hash rows=5 maxRows=5)
        value=postContent
        required=true
        data-test-post-content-input=true
        onChange=(action (mut postContent))}}
    </div>
    <div class="layout-row __submit-block">
      {{#if saving}}
        <div>
          {{loading-indicator size='5px'}}
        </div>
      {{else}}
        {{#form.submit-button disabled=disableSubmit data-test-post-form-submit=true}}
          Submit
        {{/form.submit-button}}
      {{/if}}
    </div>
  {{/paper-form}}

{{/betterup-modal/container}}
