<h1 class="__header">
  <span data-test-post-full-header>{{post.title}}</span>

  <span class="__edit-icon" onclick={{action (mut postFormIsOpened)}} data-test-edit-post-button>
    <i class="material-icons">mode_edit</i>
  </span>
</h1>
<span class="__timestamp">
  {{moment-time-ago post.createdAt}}
</span>
<p class="__content" data-test-post-full-content>
  {{post.content}}
</p>

{{betterup-modal
  isOpen=postFormIsOpened
  modal=(hash component='modals/post-form' editingModel=post close=(action (mut postFormIsOpened)))}}
